@import 'src/styles/variables';

.campaign-status {
    $badge-size: 10px;
    display: flex;
    align-items: center;

    &__badge {
        border-radius: 50%;
        margin-right: 3px;
        width: $badge-size;
        height: $badge-size;

        &--active {
            background-color: $color-active;
        }

        &--inactive {
            background-color: $color-inactive;
        }
    }
}
