@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    50% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 250ms;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.fadeOut {
    animation-name: fadeOut;
}
