$color-active: #1f7a1f;
$color-inactive: #cc3300;

$color-background-1: white;
$color-background-2: #f3f3f3;
$color-background-3: #dddddd;

$color-input: #009879;

$color-error: #cc3300;
$color-primary: #009879;

$color-text-1: gray;
$color-text-2: black;
$color-text-inverse: white;
